<!DOCTYPE html>
<html lang="en" 
th:replace="~{base :: parnet(~{::#content},~{::title},~{::script})}"
>
<head>
    <title>
        Services Page
    </title>
</head>
<body>
    <section id="content">
        <h1>Welcome to Services page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolorem magni eum.</p>
    </section>
   
    <script>
        console.log("Please take our services and thanks us later ")
    </script>
    <script>
        console.log("How are you")
    </script>
</body>
</html>